.hero {
    height: 100vh; /* Toda la altura de la pantalla */
    background: url('../img/home-hero-bg.webp') center/cover no-repeat; /* Imagen de fondo */
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white;
    position: relative; /* Para el z-index */
    overflow: hidden; /* Para que respete el border radius */
    border-top-left-radius: 6.25rem;
    border-top-right-radius: 6.25rem;
  }
  
  .hero::before {
    content: ''; /* Crea la capa */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Oscurece la imagen */
    z-index: 1; /* La capa va por encima de la imagen */
  }
  
  .hero .container {
    position: relative; /* Para que el texto se quede por encima de la capa */
    z-index: 2;
  }
  
.hero h2 {
    font-family: roboto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.25rem;
}
.hero h1 {
    font-family: bitter;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 6.25rem;
    
}

  section {
    border-top-left-radius: 6.25rem;
    border-top-right-radius: 6.25rem;
    overflow: hidden; /* Para que los bordes se apliquen bien si hay contenido dentro */
  }
  
  .menu-container {
    background: black;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
  }
  
  .navbar.scrolled .menu-container {
    transform: translateY(-20px);
  }
  
  .social-icons a {
    color: black;
    margin-left: 15px;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #666;
  }
  
  .menu-container {
    background: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar.scrolled .menu-container {
    transform: translateY(-20px);
  }